{% extends "layout.html" %}


{% block head %}
    <script src="/static/js/index.js" type="text/javascript"></script>

{% endblock %}


{% block content %}

    {% if error %}
        <div class="help-block">{{ error }}</div>
    {% endif %}

    {% if not animals %}

        <p>empty db.</p>

    {% else %}

        <div class="card-slider-container">

            {% for animal in animals %}
                <div class="empty-card-spacer">
                    <div class="card-container-spacer">
                        <div class="card-container-wrapper">
                            <div class="card-container" onclick=view_post({{ animal[0] }})>

                                <div class="card-image" id="animal_src_{{ loop.index }}"
                                     style="background-image: url({{ animal[7] }})">
                                </div>
                                <h4 class="card-title" id="animal_name_{{ loop.index }}">
                                    Name : {{ animal[1] }}
                                </h4>
                                <span class="card-info"
                                      id="animal_date_{{ loop.index }}">date created :{{ animal[5] }} </span>
                                <span class="card-info" id="animal_age_{{ loop.index }}">age : {{ animal[4] }}</span>
                                <span class="card-info" id="animal_race_{{ loop.index }}">race : {{ animal[3] }}</span>
                                <span class="card-info" id="animal_type_{{ loop.index }}">type: {{ animal[2] }}</span>
                                <span class="card-info"
                                      id="animal_description_{{ loop.index }}">description: {{ animal[6] }}</span></a>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>


        {# footer #}
        <footer class="footer-bs">
            <div class="row">
                <div class="col-md-3 footer-brand animated fadeInLeft">
                    <h2>Logo</h2>
                    <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies.
                        Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque
                        ex mi ut sem.</p>
                    <p>© 2014 BS3 UI Kit, All rights reserved</p>
                </div>
                <div class="col-md-4 footer-nav animated fadeInUp">
                    <h4>Menu —</h4>
                    <div class="col-md-6">
                        <ul class="pages">
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Nature</a></li>
                            <li><a href="#">Explores</a></li>
                            <li><a href="#">Science</a></li>
                            <li><a href="#">Advice</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contacts</a></li>
                            <li><a href="#">Terms & Condition</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 footer-social animated fadeInDown">
                    <h4>Follow Us</h4>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">RSS</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-ns animated fadeInRight">
                    <h4>Newsletter</h4>
                    <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
                    <p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
                    </div><!-- /input-group -->
                    </p>
                </div>
            </div>
        </footer>
    {% endif %}



{% endblock %}
