{% extends "layout.html" %}

{% block head %}
  <title>Données des mois</title>
  <meta name="description" content="Les mois contenant des informations pour un matricule précis"/>
{% endblock %}

{% block content %}
    {% if erreur %}
        <h2 style=color:#FF0000>{{ erreur }}</h2>
    {% else %}
        {% if mois  %}
          <h2 class="h2_entete">Voici les mois disponible pour le matricule {{ matricule }}</h2>
            {% for un_mois in mois %}
                <div><img src="/static/images/star.png" width="20" height="20"><a class="a_mois" href="/{{ matricule }}/overview/{{ un_mois }}">{{ un_mois }}</a></div>
            {% endfor %}
        {% endif %}

        {% if infos == None and mois == None %}
            {% if date %}
             <h2>il n y a pas d'info pour le matricule {{ matricule }} en date du {{ date }}</h2>
            {% else %}
                <h2>il n'y a pas d'info pour le matricule {{ matricule }} en date du <span id="span"></span></h2>
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}

{% block sidenav_right %}

{% endblock %}